kernel/*/*.d
kernel/*/*.o
kernel/*/*/*.o
kernel/*/*/*.d
kernel/*.d
kernel/*.o
user/*.d
user/*.o
user/*.asm
user/_*
user/init
user/submit.txt
.vscode/*
target/*.bin
target/kernel
target/*.asm
*.img
*.bin
*.sym
submit/*
.gdb_history
.gitignore
.vscode/settings.json
